[Unit]
Description=Raspberry Pi API Server (NFC, TTS, VOSK)
After=network.target pcscd.service
Requires=pcscd.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/livraria/LiVraria/raspi
ExecStart=/usr/bin/python3 /home/livraria/LiVraria/raspi/raspi_api_server.py
Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
Environment="PYTHONUNBUFFERED=1"
Environment="VOSK_MODEL_PATH=/opt/vosk-model-ja"

[Install]
WantedBy=multi-user.target
