name: LiVraria CD

on:
 push:
   branches:
     - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd /var/www/LiVraria
            git pull origin main
            sudo systemctl restart livraria-backend
            cd frontend
            pnpm install
            pnpm run build
            sudo cp -r dist/* /var/www/LiVraria/frontend